html {
  font-size: 40px;
}

/*body {
  text-align: center;
}*/

#background {
  position: absolute;
  top: 0;
}

#container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

#container .main {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  margin: -1.5em 0 0 -50%;
  line-height: 200%;
  color: #fff
}
